USE [master]
GO
/****** Object:  Database [RoleLogin]    Script Date: 9/18/2020 2:02:11 AM ******/
CREATE DATABASE [RoleLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoleLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RoleLogin.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RoleLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RoleLogin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoleLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoleLogin]
GO
/****** Object:  StoredProcedure [dbo].[sp_Role_Login]    Script Date: 9/18/2020 2:02:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Role_Login]
@uname nvarchar(50),
@upass nvarchar(50)
as
 begin 
 select * from tb_login where UserName=@uname AND password=@upass
 end


GO
/****** Object:  Table [dbo].[tb_login]    Script Date: 9/18/2020 2:02:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
